.gradient-custom-2 {
    background: #fc9619;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    background: url(src/assets/img/bg.jpg);
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

.lateral{
    background: url(src/assets/img/fondo2.jpeg) no-repeat;
    background-size: cover;
}